$primaryColor: #fac31d;

body {
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimage.freepik.com%2Fvecteurs-libre%2Fvoiture-realiste-allume-composition-realiste-silhouette-sombre-automobile-illustration-phares-ombres-grisees_1284-28532.jpg&f=1&nofb=1);
  background-size: cover;
  backdrop-filter: brightness(100%) saturate(0%) blur(2px);
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 1px;
  padding: 10px;
  width: 80%;
  margin: auto;
}

.grid-container > div {
  margin: 0;
  padding: 5px;
  font-size: 30px;
}

.item1 {
  grid-area: 1 / 1 / 3 / 3;
}
.item2 {
  grid-area: 1/3/1/3;
}
.item3 {
  grid-area: 1/4/1/4;
}
.item4 {
  grid-area: 2/3/3/5;
}
.item7 {
  grid-area: 3/3/5/5;
}
.item10 {
  color: red;
  grid-area: 5/1/5/5;
}

#titleAddAnnonce {
  color: $primaryColor;
  font-size: 30px;
  padding: 10px;
  border: 2px solid$primaryColor;
  border-radius: 5px;
  text-align: center;
  width: 25%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 10px;
}

label {
  font-size: 20px;
  font-weight: 400;
  color: $primaryColor;
}

#inputModel,
#inputPower,
#inputKM,
#inputBirth,
#inputTimeEnchere,
#inputStartPrice,
#inputPicture {
  width: 100%;
  height: 5vh;
  margin-top: 5px;
  border-radius: 5px;
  border: solid 1px grey;
}

#inputModel:focus,
#inputPower:focus,
#inputKM:focus,
#inputBirth:focus,
#inputTimeEnchere:focus,
#inputStartPrice:focus,
#inputPicture:focus {
  outline: none;
  border: 1px solid $primaryColor;
}

#btnValidate {
  font-size: 1rem;
  height: 35px;
  width: 300px;
  margin: 15px 50px;
  background-color: $primaryColor;
  border: solid 1px grey;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

#btnValidate:hover {
  transform: scale(1.05);
}
select {
  padding: 10px;
  width: 100%;
  height: 5vh;
  margin-top: 5px;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: solid 1px grey;
  height: 133px;
}

/* width */
select::-webkit-scrollbar {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 10px;
  height: 25px;
}

/* Track */
select::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
select::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
select::-webkit-scrollbar-thumb:hover {
  background: $primaryColor;
}
select:focus,
textarea:focus {
  outline: none;
  border: 1px solid $primaryColor;
}
textarea {
  resize: none;
  width: 100%;
  height: 5vh;
  margin-top: 5px;
  border-radius: 5px;
  border: solid 1px grey;
  height: 114px;
  padding: 10px;
}

footer {
  background-color: white;
}
