$primaryColor: #fac31d;

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 1px;
  padding: 10px;
  width: 80%;
  margin: auto;
}

.grid-container > div {
  margin: 0;
  padding: 5px;
  font-size: 30px;
}

.item1 {
  grid-area: 1 / 1 / 3 / 3;
}
.item2 {
  grid-area: 1/3/1/3;
}
.item3 {
  grid-area: 1/4/1/4;
}
.item4 {
  grid-area: 2/3/3/5;
}
.item7 {
  grid-area: 3/3/5/5;
}
.item10 {
  color: red;
  grid-area: 5/1/5/5;
}

#titleAddAnnonce {
  color: #434343;
  font-size: 30px;
  padding: 10px;
  border: 2px solid #434343;
  border-radius: 5px;
  text-align: center;
  width: 25%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 10px;
}

label {
  font-size: 20px;
  font-weight: 400;
}

#inputModel,
#inputPower,
#inputKM,
#inputBirth,
#inputTimeEnchere,
#inputStartPrice,
#inputPicture {
  width: 100%;
  height: 45px;
  margin-top: 5px;
  border-radius: 5px;
  border: solid 1px grey;
}

#inputModel:focus,
#inputPower:focus,
#inputKM:focus,
#inputBirth:focus,
#inputTimeEnchere:focus,
#inputStartPrice:focus,
#inputPicture:focus {
  outline: none;
  border: 1px solid $primaryColor;
}

#btnValidate {
  font-size: 1rem;
  height: 35px;
  width: 300px;
  margin: 15px 50px;
  background-color: $primaryColor;
  border: solid 1px grey;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

#btnValidate:hover {
  transform: scale(1.05);
}
select {
  padding: 10px;
  width: 100%;
  height: 150px;
  margin-top: 5px;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: solid 1px grey;
}

/* width */
select::-webkit-scrollbar {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 10px;
  height: 25px;
}

/* Track */
select::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
select::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
select::-webkit-scrollbar-thumb:hover {
  background: $primaryColor;
}
select:focus,
textarea:focus {
  outline: none;
  border: 1px solid $primaryColor;
}
textarea {
  resize: none;
  width: 100%;
  height: 130px;
  margin-top: 5px;
  border-radius: 5px;
  border: solid 1px grey;
  padding: 10px;
}
body {
  background-image: url(https://www.ouestfrance-auto.com/sites/default/files/styles/620x420lock/public/vendre-voiture.jpg?itok=MbE-GgEyhttps://.com/full/166650.jpg);
  background-size: cover;
  backdrop-filter: brightness(110%) saturate(0%) blur(10px);
}
footer {
  background-color: white;
}
