#mainContainer {
  margin: 50px 150px 100px;
}

#mainContainer .btnRetour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#mainContainer .btnRetour img {
  height: 22px;
  margin-right: 5px;
}

#mainContainer .btnRetour:hover {
  -webkit-transform: translateX(-5%);
          transform: translateX(-5%);
}

#mainContainer h1 {
  margin-top: 50px;
  font-size: 2rem;
}

#mainContainer .termineAndEnchere {
  color: #616161;
}

#mainContainer .termineAndEnchere .termineDate {
  color: black;
}

#mainContainer .termineAndEnchere .enchere {
  margin-left: 25px;
}

#mainContainer .termineAndEnchere .enchereNB {
  font-size: 1.3rem;
  font-weight: 500;
  color: black;
}

#mainContainer .imgVehicle {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 30px 0;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#mainContainer .imgVehicle:hover {
  opacity: 0.9;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

#mainContainer .description {
  font-size: 1.1rem;
}

#mainContainer .divContainerDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#mainContainer .divContainerDescription .descriptionContainer {
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #fac31d;
  padding: 10px;
  width: 400px;
  height: 150px;
}

#mainContainer .divContainerDescription .descriptionContainer p {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#mainContainer .divContainerDescription .descriptionContainer .firstD {
  color: gray;
  font-weight: 500;
  font-size: 0.8rem;
}

#mainContainer .divContainerDescription .descriptionContainer .secondD {
  font-size: 0.9rem;
}

#mainContainer .divContainerDescription .encherirContainer h3 {
  text-align: center;
  margin: 0;
}

#mainContainer .divContainerDescription .encherirContainer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#mainContainer .divContainerDescription .encherirContainer form label {
  font-size: 1.1rem;
  margin: 10px 0 5px 50px;
}

#mainContainer .divContainerDescription .encherirContainer form input {
  margin: 0 50px;
  width: 300px;
  height: 30px;
  font-size: 1.1rem;
  outline: none;
  border-radius: 5px;
  border: solid 1px grey;
}

#mainContainer .divContainerDescription .encherirContainer form button {
  font-size: 1rem;
  height: 35px;
  width: 300px;
  margin: 15px 50px;
  background-color: #fac31d;
  border: solid 1px grey;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#mainContainer .divContainerDescription .encherirContainer form button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#mainContainer .divContainerDescription .notConnected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#mainContainer .divContainerDescription .notConnected p {
  display: initial;
}

#mainContainer .divContainerDescription .notConnected a {
  text-decoration: none;
  color: black;
  background-color: #fac31d;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  font-size: 1.1rem;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#mainContainer .divContainerDescription .notConnected a:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}
/*# sourceMappingURL=annonce.css.map */