$primaryColor: #fac31d;

footer {
  width: 100vw;
  #traitFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    align-content: center;
    padding: 0;
    border-top: 2px solid $primaryColor;
    margin-top: 100px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    margin-left: 10px;

    li {
      margin: 3px;
      .flag {
        margin-right: 3px;
        position: relative;
        top: 2px;
      }
    }
  }
  .logo {
    width: 240px;
    margin-right: 10px;
    position: relative;
  }
}
