$primaryColor: #fac31d;
.hero {
  height: 500px;
  background: no-repeat center top / contain url(../img/hero.jpg);
  position: relative;
  top: 0;
  background-attachment: fixed;
}
.heroImg {
  height: 500px;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  position: relative;
  top: 0;
  transition: 0.5s;
  &:hover {
    backdrop-filter: blur(10px);
  }
  h2 {
    text-align: right;
    padding: 150px 0 0 0;
    margin: 0 200px;
    color: white;
    font-size: 4rem;
  }
  p {
    text-align: right;
    margin: 0 100px;
    font-size: 1.5rem;
    color: $primaryColor;
    font-style: italic;
  }
}
