$primaryColor: #fac31d;

.mainContainer {
  .profil {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;
  }

  .modif {
    display: flex;
    flex-direction: column;

    h1 {
      color: $primaryColor;
      font-size: 30px;
      padding: 10px;
      border: 2px solid $primaryColor;
      text-align: center;
      width: 55%;
      margin: auto;
      margin-top: 2%;
      margin-bottom: 2%;
    }
    input {
      width: 23em;
      height: 5vh;
      border: solid 1px grey;
      border-radius: 5px;
      padding-left: 20px;
    }
    input:focus {
      outline: none;
      border: 1px solid $primaryColor;
    }

    .button {
      margin-top: 2%;
      width: 100px;
      align-self: center;
    }
  }
  .persoInfo {
    border-radius: 5px;

    width: 20%;
    margin-left: 20px;
  }
}
